.ccyPair-list {
    border: solid 1px #ccc;
    font-weight: 500;
    scrollbar-width: thin; 
    crollbar-color: #f1f1f1;
    height: 140px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.ccyPair-box {
    padding: 4px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 12px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.ccyPair-list.cdk-drop-list-dragging .ccyPair-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.evenRow {
    background-color: white;
}

.oddRow {
    background-color: rgb(245, 243, 243);
}

.readonlyCls{
    color: grey;
}
  
.form-control{
    border-radius: 0;
}

.addBtn, .addBtn:hover{
    color: #19A0DB; 
    background-color: white; 
    border: 1px solid #dadada;
}

// .mat-select-panel {
//     position: relative !important;
//     margin-top: -20rem !important;
//     right: 1rem;
//     left: 1rem;
//   }