.mat-card-tier{
    margin-top: 1rem !important;
    border-radius: 1rem !important;
    cursor: pointer;
  }

  .col-md-12 .material{
    border-radius: 10px !important;
    // max-width: 95% !important;
  }

/* Style for mat-card-bottom */
.mat-card-bottom {
  margin-top: 1rem; /* Adjust margin as needed */
  height: 3rem;
  margin-right: 1.5rem;
  border-radius: 1rem !important;

}

/* Style for centering wrapper */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the wrapper fill the height of the mat-card */
}

/* Style for plusIcon */
.plusIcon {
  font-size: 24px; /* Adjust icon size as needed */
}

  /* Add curved borders to ngx-datatable */
/deep/ .ngx-datatable {
  border-radius: 10px; /* Adjust the border radius as needed */
}

/* Add margin on the right side of the page */
.container-right-margin {
  // margin-right: 20px; /* Adjust the margin as needed */
  border-radius: 1rem;
  height: 200px;
}

.first-ngx-table {
  height: 105px !important; /* Forcefully set the height of the first ngx-datatable */
}

.custom-container {
  height: 90vh;
  overflow-y: auto;
}

.full-height {
  height: 100%;
}

.tier-list {
  height: 90vh;
  overflow-y: auto;
}

.content-area {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1 1 auto;
}

.overflow-auto {
  overflow-y: auto;
}

.transparent-bg {
  background-color: transparent;
}

.mat-card-bottom {
  margin-top: auto;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIcon {
  font-size: 2rem;
}

.selected-tier {
  background-color: #19A0DB;
  color: white;
}

