<div class="container-fluid custom-container">
  <div class="d-flex">
    <div class="col-3 tier-list">
      <div *ngFor="let data of salesTierNamesData; let i=index">
        <mat-card class="mat-card-tier" (click)="onSelectTier(data.id); onSelectMatCard(i)" [class.selected-tier]="selectedIndex == i">
          {{data.name}} 
          <div class="pull-right">
            <button class="mat-menu" mat-icon-button [matMenuTriggerFor]="menu" [class.selected-tier]="selectedIndex == i"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="!data.isEnabled" (click)="openCopyConfirmationDialog(data.id)">
                <span>Copy</span>
              </button>
              <button mat-menu-item (click)="openEnableDisableAmountTier(rowIndex)">
                <span> {{data.isEnabled ? 'Disable' : 'Enable'}}</span>
              </button>
              <button mat-menu-item>
                <span (click)="onAudit(data.id)" href="javascript:void(0);" >Audit</span>
              </button>
              <button mat-menu-item [disabled]="!data.isEnabled" (click)="openDeleteConfirmationDialog(rowIndex)">
                <span class="delete">Delete</span>
              </button>
            </mat-menu>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-9 pt-3 content-area pr-2">
      <div *ngIf="tableData.length > 0" class="flex-grow overflow-auto">
        <div *ngFor="let data of tableData; let i=index" class="mb-3 transparent-bg">
          <ngx-datatable class="material container-right-margin"
                         [class.first-ngx-table]="i === 0"
                         [rows]="data.rows"
                         [columnMode]="'flex'"
                         [headerHeight]="50"
                         [rowHeight]="getRowHeight"
                         [scrollbarV]="true">
                        
            <ngx-datatable-column name="Currency Pairs" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.ccypairs.ccyPair }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let column of data.columns" [name]="column" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row[column] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1">
              <ng-template ngx-datatable-header-template let-index="index">
                <div class="d-flex justify-content-end align-items-center">
                  <button class="mat-menu" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editTier(data.pricingItem)" [disabled]="!isEnabled">
                      <span>Edit</span>
                    </button>
                    <button *ngIf="i!=0" mat-menu-item (click)="openDeleteConfirmationDialog(rowIndex, 1)" [disabled]="!isEnabled">
                      <span class="delete">Delete</span>
                    </button>
                  </mat-menu>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <mat-card class="mat-card-bottom mr-2">
        <div class="center-wrapper">
          <i class="fa fa-plus plusIcon" aria-hidden="true" (click)="addCCYGroup()"></i>
        </div>
      </mat-card>
    </div>
  </div>
</div>
