<div class="col-md-12 mb-3" style="margin-top: 10px;">
  <div class="col-md-12">
  <ngx-datatable class="material container col-md-12" [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" rowHeight="auto">

    <ngx-datatable-column name="Tier Name" [flexGrow]="3.5">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <b>{{ row?.tierName }}</b>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Status" [flexGrow]="2.5">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <span [ngClass]="getStatus(row.isEnabled)">
          {{ getStatus(row.isEnabled) }}
        </span>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Action" [flexGrow]="1.5">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <div class="pull-center row">
          <button mat-icon-button class="mat-menu" (click)="openEditScreen(rowIndex)">
            <i class="fa fa-pencil edit" aria-hidden="true"></i>
          </button>
          &nbsp; &nbsp;
          <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCopyConfirmationDialog(rowIndex)">
              <span>Copy</span>
            </button>
            <button mat-menu-item (click)="enableDisableAmountTier(rowIndex)">
              <span>{{ row.isEnabled ? 'Disable' : 'Enable' }}</span>
            </button>
            <button mat-menu-item>
              <span  (click)="onAudit(row.id)" href="javascript:void(0);">Audit</span>
            </button>
            <button mat-menu-item (click)="openDeleteConfirmationDialog(rowIndex)">
              <span class="delete">Delete</span>
            </button>
          </mat-menu>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
  </div>
</div>