.mat-dialog-footer{
    z-index: 1000px;
}

.mat-dialog-content{
   display: contents;
}
.mat-dialog-title{
    text-align: center;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #19A0DB;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #b8b3b3;
}