.ccyPair-list {
  border: solid 1px #ccc;
  font-weight: 500;
  scrollbar-width: thin; 
  height: 140px; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.ccyPair-box {
  padding: 4px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-dialog-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.evenRow {
  background-color: white;
}

.oddRow {
  background-color: rgb(245, 243, 243);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #277fe2 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #abb8c6 !important;
}
